streamlit # For building the web application
pandas      # For handling data
numpy      # For numerical operations
altair      # For interactive visualizations
matplotlib  # For generating pie charts and other plots
wordcloud   # For creating the word cloud

streamlit
pandas
numpy
